body {
    margin: 0;
}
img {
    display: none;
}
audio {
    display: none;
}
canvas {
    background-color: rgb(214, 79, 203);
    position: absolute;
    top: 0.5vh;
    left: 0.5vw; 
    border: 1px solid black;
    width: 99%;
    height: 99%;
}